@model TO.Model.Transaction
@{
    ViewBag.Title = "Alterar Transação";
}

<h2>Alterar Transação</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Transação</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.EditorFor(model => model.Name)

        <p>
            <input type="submit" value="Alterar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "TransactionList")
</div>
